@model MyShop.Models.TbGiatriDangky

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbGiatriDangky</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giatri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giatri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdttNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdttNavigation.Idtt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idgt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
