@model IEnumerable<MyShop.Models.News>
@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var path = Context.Request.Path.Value?.ToLower();
}

<div class="sub-header">
    <div class="container">

        <h1>Tin tức</h1>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="fal fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">Tin tức</li>

        </ul>
    </div>
</div>
<div class="container wrapper-content">
    <div class="row">
        @* list tin tức *@
        @if (Model.Any())
        {
            @foreach(News n in Model)
            {
                <div class="col-lg-4">
                    <div class="card card-news">
                        <div class="card-img-top">
                            <a href="/tin-tuc-chi-tiet/@n.Tag"
                               class="img-zoom-in">
                                <img src="@n.Image"
                                     data-src="@n.Image"
                                     class="img-fluid lazyload" 
                                     alt="@n.Name" />
                            </a>
                            <div class="post-date">
                                12<br />
                                Sep
                            </div>
                        </div>
                        <div class="card-body">
                            <h2 class="height-truncate" data-line="2">
                                <a href="/tin-tuc-chi-tiet/@n.Tag">
                                    @n.Name
                                </a>
                            </h2>
                            <div class="sapo height-truncate" data-line="3">
                                @n.Content
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Đang cập nhật ...</p>
        }
        
        @* list tin tức *@
    </div>
    @if (ViewBag.TotalPages > 1)
    {
        <div class="text-center">
            <ul class="pagination justify-content-center">

                @* Prev *@
                @if (ViewBag.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/tin-tuc?page=@(ViewBag.Page - 1)">«</a>
                    </li>
                }

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/tin-tuc?page=@i">@i</a>
                        </li>
                    }
                }

                @* Next *@
                @if (ViewBag.Page < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/tin-tuc?page=@(ViewBag.Page + 1)">»</a>
                    </li>
                }

            </ul>
        </div>
    }

</div>