@model MyShop.Models.Toggle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Toggle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.News)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.News.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
