@model MyShop.Models.Config

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Config</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailSmtp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailSmtp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailNoreply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailNoreply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoogleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copyright)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copyright)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keyword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YoutubeLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YoutubeLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicasaLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicasaLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlickrLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlickrLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialLink9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialLink9)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
