<header id="header" class="header-corporate header-10">

	<div class="header-main header-body" style="top: 0px;">
		<div class="header-container container">
			<div class="header-left">
				<h1 class="logo">
					<a href="/" title="Bright Box - Learn great things everyday" rel="home">
						<img class="img-responsive standard-logo retina-logo" src="/user/assets/wp-content/uploads/2021/04/logo_web.png" alt="Bright Box" />
					</a>
				</h1>
			</div>

			<div class="header-right">
				<div class="header-right-top">
					<div class="header-contact">
						<ul class="nav nav-pills nav-top">
							<li class="mr-2"><a href="tel:+84395162979" target="_blank" class="d-inline-flex align-items-center"><i class="fas fa-phone-alt"></i>+84 39 516 2979</a></li>
						</ul>
					</div><ul id="menu-menu-tren" class="top-links mega-menu">
						<li id="nav-menu-item-302" class="register_popup featured menu-item menu-item-type-custom menu-item-object-custom narrow"><a href="#">Đăng ký khóa học</a></li>
						<li id="nav-menu-item-303" class="account_link menu-item menu-item-type-custom menu-item-object-custom narrow"><a href="/dang-nhap">Tạo tài khoản / Đăng nhập</a></li>
					</ul>
				</div>
				<div class="header-right-bottom">
					<div id="main-menu">
						<ul id="menu-menu-chinh" class="main-menu mega-menu">
							@foreach (PageL1 pl1 in ViewBag.PagesL1)
							{
								@if (pl1.HasChild)
								{
									<li id="nav-menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub narrow">
										<a href="@pl1.Page.Link">@pl1.Page.Name</a>
										<div class="popup">
											<div class="inner" style="">
												<ul class="sub-menu">
													@foreach (var pl2 in ViewBag.PagesL2)
													{
														@if (pl2.Level.Substring(0, 5) == pl1.Page.Level)
														{
															<li id="nav-menu-item-511" class="menu-item menu-item-type-post_type menu-item-object-portfolio" data-cols="1">
																<a href="@pl2.Link">@pl2.Name</a>
															</li>
														}
													}
												</ul>
											</div>
										</div>
									</li>
								}
								else
								{
									<li id="nav-menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item active narrow">
										<a href="@pl1.Page.Link" class=" current">@pl1.Page.Name</a>
									</li>
								}

							}
						</ul>
					</div>
					<div class="searchform-popup search-popup">
						<a class="search-toggle"><i class="fas fa-search"></i><span class="search-text">Tìm kiếm</span></a>	<form action="https:/user/assets/" method="get"
																															   class="searchform">
							<div class="searchform-fields">
								<span class="text"><input name="s" type="text" value="" placeholder="Tìm kiếm&hellip;" autocomplete="off" /></span>
								<input type="hidden" name="post_type" value="portfolio" />
								<span class="button-wrap">
									<button class="btn btn-special" title="Tìm kiếm" type="submit"><i class="fas fa-search"></i></button>
								</span>
							</div>
							<div class="live-search-list"></div>
						</form>
					</div>
					<a class="mobile-toggle"><i class="fas fa-bars"></i></a>
				</div>


			</div>
		</div>

	</div>
</header>

<div class="panel-overlay"></div>
<div id="side-nav-panel" class="panel-left">
	<a href="#" class="side-nav-panel-close"><i class="fas fa-times"></i></a>
	<div class="menu-wrap">
		<ul id="menu-menu-chinh-1" class="mobile-menu accordion-menu">
			<li id="accordion-menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item active"><a href="/user/assets/" class=" current ">Trang chủ</a></li>
			<li id="accordion-menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub">
				<a href="/user/assets/khoa-hoc/">Khóa học</a>
				<span class="arrow"></span>
				<ul class="sub-menu">
					<li id="accordion-menu-item-511" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/thiet-ke-do-hoa-co-ban/">Thiết kế đồ họa (Cơ bản)</a></li>
				</ul>
			</li>
			<li id="accordion-menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub">
				<a href="/user/assets/viec-lam/">Việc làm</a>
				<span class="arrow"></span>
				<ul class="sub-menu">
					<li id="accordion-menu-item-648" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/user/assets/giang-vien-bright-box/">Giảng viên Bright Box</a></li>
				</ul>
			</li>
			<li id="accordion-menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub">
				<a href="/user/assets/blog/">Blog</a>
				<span class="arrow"></span>
				<ul class="sub-menu">
					<li id="accordion-menu-item-542" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/tin-tuc/">Tin tức</a></li>
				</ul>
			</li>
			<li id="accordion-menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/user/assets/dich-vu-sang-tao/">Dịch vụ sáng tạo</a></li>
		</ul>
	</div><div class="menu-wrap">
		<ul id="menu-menu-tren-1" class="top-links accordion-menu">
			<li id="accordion-menu-item-302" class="register_popup featured menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Đăng ký khóa học</a></li>
			<li id="accordion-menu-item-303" class="account_link menu-item menu-item-type-custom menu-item-object-custom"><a href="/dang-nhap">Tạo tài khoản / Đăng nhập</a></li>
		</ul>
	</div>
</div>