<div class="top-header d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <i class="fal fa-map-marker"></i> Ô số 5A, Tầng 1, Tòa Sunrise Building IIIB, KĐT Sài Đồng, P. Phúc Lợi, Hà Nội
            </div>
            <div class="col-4 text-right d-none d-lg-block">
                <i class="fal fa-clock"></i> Giờ làm việc: 8h - 18h / Thứ 2 - 7 hàng tuần
            </div>
        </div>
    </div>
</div>
<header>
    <div class="overlayall"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-9">
                <a href="/" class="logo">
                    <img src="/user/assets/Content/images/logo.jpg" class="img-fluid" alt="Kế toán QC" />
                </a>
                <div class="icon-menu">
                    <i class="fal fa-bars"></i>
                </div>
            </div>
            <nav class="col-lg-8 order-2 order-lg-1 my-0 my-lg-auto">
                <ul>
                    @* list menu *@
                    @foreach (PageL1 pl1 in ViewBag.PagesL1)
                    {
                        @if (pl1.HasChild)
                        {
                            <li>
                                <a href="@pl1.Page.Link">@pl1.Page.Name</a>
                                <ul>
                                    @foreach (var pl2 in ViewBag.PagesL2)
                                    {
                                        @if (pl2.Level.Substring(0, 5) == pl1.Page.Level)
                                        {
                                            <li>
                                                <a href="@pl2.Link">@pl2.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@pl1.Page.Link">@pl1.Page.Name</a>
                            </li>
                        }

                    }
                    @* end list menu *@
                </ul>
            </nav>
            <div class="col-lg-2 col-3 order-1 order-lg-2">
                <div class="hotline">
                    <a href="tel:0976428786">
                        <i class="fal fa-phone-alt"></i> <span>0976428786</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>