@{
	ViewData["Title"] = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="sub-header">
    <div class="container">
        <div class="name">Tin tức</div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html"><i class="fal fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="tin-tuc.html">Tin tức</a></li>
        </ul>
    </div>
</div> *@
<div class="banner-slide owl-carousel">
    @* list slides *@
    @foreach(Advertise a in ViewBag.Slides)
    {
        <div class="item">
            <a href="@a.Link">
                <picture>
                    <source srcset="@a.Image" media="(max-width:500px)">
                    <img src="@a.Image"
                         class="img-fluid"
                         alt="@a.Name">
                </picture>
            </a>
        </div>
    }
    
    @* end list slides *@
</div>

@* giới thiệu *@
<div class="bg-light py-lg-5 py-4">
    <div class="container">

        <div class="section-name">
            CHÚNG TÔI LÀ AI?
        </div>

        <div class="row align-items-lg-center">

            <!-- Cột ảnh -->
            <div class="col-lg-6 col-sm-6 order-1 order-lg-0 mt-3 mt-sm-0">
                <img src="@ViewBag.Banner.Image"
                     style="width:@(ViewBag.Banner.Width+"px"); height:@(ViewBag.Banner.Height+"px")"
                     class="img-fluid about-img"
                     alt="@ViewBag.Banner.Name">
            </div>

            <!-- Cột nội dung -->
            <div class="col-lg-6 col-sm-6 order-0 order-lg-1">
                <div class="body-content">

                    <h1 style="text-align: justify;">
                        @ViewBag.Config.SocialLink6
                    </h1>

                    <p style="text-align: justify;">
                        @ViewBag.Config.Description
                    </p>

                </div>

                <a href="/noi-dung/gioi-thieu" class="view-more-link">Xem thêm</a>
            </div>

        </div>
    </div>
</div>
@* end giới thiệu *@

@* dịch vụ *@
<div class="container py-lg-5 py-4">

    <div class="section-name">
        DỊCH VỤ CỦA CHÚNG TÔI
    </div>

    <div class="row justify-content-center">

        @* list menu giữa *@
        @foreach(Page p in ViewBag.MenuGiua)
        {
            <div class="col-lg-4 col-sm-6">
                <div class="card card-service-item">
                    <div class="card-img">
                        <a href="@p.Link">
                            <img class="img-fluid ls-is-cached lazyloaded" alt="@p.Name" src="@p.Content" style="width:100%; object-fit:cover; max-height: 200px">
                        </a>
                    </div>
                    <div class="card-body">
                        <h2>
                            <a href="@p.Link">
                                @p.Name
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        }
        
        @* end list menu giữa *@
    </div>
</div>

@* end dịch vụ *@

<div class="counter-box lazyloaded"
     data-bg="@ViewBag.BgThongke.Image"
     style="background-image: url('@ViewBag.BgThongke.Image');">

    <div class="container">
        @Html.Raw(ViewBag.Config.Contact)
        @* <div class="box-heading">
            <h2>
                Chúng tôi luôn đi đầu và đưa ra<br>
                các giải pháp tối ưu nhất cho doanh nghiệp của bạn.
            </h2>
        </div>

        <div class="row pt-lg-5 pt-4">

            <!-- Item 1 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-smile-beam"></i>
                <div class="count">2000+</div>
                <div>Khách hàng hài lòng</div>
            </div>

            <!-- Item 2 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-file-prescription"></i>
                <div class="count">1000+</div>
                <div>Công ty đang hợp tác</div>
            </div>

            <!-- Item 3 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-users"></i>
                <div class="count">120+</div>
                <div>Chuyên viên kế toán</div>
            </div>

            <!-- Item 4 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-chart-line"></i>
                <div class="count">10+</div>
                <div>Năm hoạt động</div>
            </div>

        </div> *@
    </div>
</div>

@* tin tức *@
<section class="container py-lg-5 py-4">
    <div class="section-name">TIN MỚI NHẤT</div>

    <div class="box-news owl-carousel owl-theme">
        @foreach(News n in ViewBag.News)
        {
            <div class="card card-news-item" style="min-height: 645px">
                <div class="card-img-top">
                    <a href="/tin-tuc-chi-tiet/@n.Tag">
                        <img src="@n.Image" class="img-fluid">
                    </a>
                </div>

                <div class="card-body">
                    <div class="date-post">@n.Date</div>

                    <h3 class="height-truncate" data-line="3">
                        <a href="/tin-tuc-chi-tiet/@n.Tag">
                            @n.Name
                        </a>
                    </h3>

                    <p class="height-truncate" data-line="5">
                        @n.Content
                    </p>

                    <a href="/tin-tuc-chi-tiet/@n.Tag"
                       class="view-more-link">Xem thêm</a>
                </div>
            </div>
        }
        

    </div>
</section>

@* end tin tức *@

<div class="form-footer">
    <button type="button"
            data-fancybox=""
            data-src="#subscribe"
            data-type="inline"
            class="btn btn-lg px-4">
        ĐĂNG KÝ TƯ VẤN
    </button>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {

            var $slider = $('.banner-slide');

            // nếu đã init → destroy trước
            if ($slider.hasClass('owl-loaded')) {
                $slider.trigger('destroy.owl.carousel');
                $slider.removeClass('owl-loaded');
                $slider.find('.owl-stage-outer').children().unwrap();
            }

            // init lại
            $slider.owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                nav: false,
                dots: true,
                smartSpeed: 600
            });

            var $news = $('.box-news');
            var itemCount = $news.children('.card-news-item').length;

            $news.owlCarousel({
                items: 3,
                loop: itemCount > 3, // 👈 chỉ loop khi đủ item
                margin: 20,
                nav: false,
                dots: true,
                autoplay: itemCount > 3,
                responsive: {
                    0: { items: 1 },
                    768: { items: 2 },
                    1200: { items: 3 }
                }
            });
        });
    </script>

}