<footer class="lazyload" data-bg="/user/assets/content/images/footer-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="name">@ViewBag.Config.SocialLink6</h3>

                <address>
                    <span class="fal fa-fw fa-map-marker-alt"></span>@ViewBag.Config.SocialLink5<br />
                    <span class="fal fa-fw fa-phone-alt"></span> @ViewBag.Config.HotLine/@ViewBag.Config.SocialLink2<br />
                    <span class="fal fa-fw fa-envelope"></span> @ViewBag.Config.MailInfo<br />
                    @* <span class="fal fa-fw fa-globe"></span> <a href="/user/assets/index.html">www.ketoanthueqc.com</a><br /> *@
                </address>

                <div class="socials">
                    <a href="@ViewBag.Config.SocialLink1" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="@ViewBag.Config.YoutubeLink" rel="nofollow" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="@ViewBag.Config.PicasaLink" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a rel="nofollow" target="_blank" href="@ViewBag.Config.SocialLink4"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            @foreach(PageL1 pl1 in ViewBag.PagesL1)
            {
                <div class="col-lg-4 col-sm-6 mt-3 mt-lg-0">
                    <div class="name font-weight-normal text-right">
                        <a href="@pl1.Page.Link" class="name font-weight-normal text-right">
                            @pl1.Page.Name
                        </a>
                    </div>
                    <ul style="flex-direction: column;align-items: flex-end;">
                        @foreach(Page pl2 in ViewBag.PagesL2)
                        {
                            @if (pl2.Level.Substring(0, 5) == pl1.Page.Level)
                            {
                                <li style="">
                                    <a href="@pl2.Link">
                                        <i class="fal fa-angle-right"></i> 
                                        @pl2.Name
                                    </a>
                                </li>
                            }
                        }
                        
                    </ul>
                </div>
            }
        </div>
    </div>

</footer>