@model MyShop.Models.PhieuDk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhieuDk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trinhdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trinhdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tentruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tentruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaycap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaycap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noicap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noicap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NganhDk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NganhDk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongthucTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongthucTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongdiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongdiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
