@model IEnumerable<MyShop.Models.Library>
@{
    ViewData["Title"] = "Thư viện";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var path = Context.Request.Path.Value?.ToLower();
}

<div class="sub-header">
    <div class="container">

        <h1>Thư viện</h1>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="fal fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">Thư viện</li>

        </ul>
    </div>
</div>
<div class="container wrapper-content">
    <div class="row">
        @if (Model.Any())
        {
            @foreach(Library l in Model)
            {
                @if (string.IsNullOrEmpty(l.File))
                {
                    <div class="col-lg-4 col-sm-6 mt-lg-4 mt-3">
                        <a href="#">
                            <img src="@l.Image"
                                 class="img-fluid"
                                 alt="NHÂN SỰ KẾ TOÁN THUẾ QC" />
                        </a>
                        <p class="mt-2 font-weight-bold text-center">
                            <a href="#" class="text-dark">@l.Name</a>
                        </p>
                    </div>
                }
                else
                {
                    <div class="col-lg-4 col-sm-6 mt-lg-4 mt-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            @* <iframe class="lazyload"
                                    width="560"
                                    height="315"
                                    data-src="@l.File"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="
                accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture;
                          "
                                    allowfullscreen="allowfullscreen"></iframe> *@
                            @{
                                var videoUrl = l.File;
                                string embedUrl = "";

                                if (!string.IsNullOrEmpty(videoUrl))
                                {
                                    // watch?v=
                                    if (videoUrl.Contains("youtube.com/watch"))
                                    {
                                        var uri = new Uri(videoUrl);
                                        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
                                        var videoId = query["v"];

                                        if (!string.IsNullOrEmpty(videoId))
                                        {
                                            embedUrl = "https://www.youtube.com/embed/" + videoId;
                                        }
                                    }
                                    // youtu.be
                                    else if (videoUrl.Contains("youtu.be"))
                                    {
                                        var uri = new Uri(videoUrl);
                                        var videoId = uri.AbsolutePath.Trim('/');
                                        embedUrl = "https://www.youtube.com/embed/" + videoId;
                                    }
                                    // đã là embed sẵn
                                    else if (videoUrl.Contains("youtube.com/embed"))
                                    {
                                        embedUrl = videoUrl;
                                    }
                                }
                            }

                            @if (!string.IsNullOrEmpty(embedUrl))
                            {
                                <iframe width="100%"
                                        height="315"
                                        src="@embedUrl"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            }

                        </div>
                        <p class="mt-2 font-weight-bold">
                            @l.Name
                        </p>
                    </div>
                }
            }
            
        }
        else
        {
            <p>Đang cập nhật ...</p>
        }
        
        
    </div>
    @if (ViewBag.TotalPages > 1)
    {
        <div class="text-center mt-4">
            <ul class="pagination justify-content-center">

                @* Trang trước *@
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link"
                       href="/thu-vien/@ViewBag.Slug?page=@(ViewBag.CurrentPage - 1)">
                        «
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link"
                           href="/thu-vien/@ViewBag.Slug?page=@i">
                            @i
                        </a>
                    </li>
                }

                @* Trang sau *@
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link"
                       href="/thu-vien/@ViewBag.Slug?page=@(ViewBag.CurrentPage + 1)">
                        »
                    </a>
                </li>

            </ul>
        </div>
    }

</div>